:host {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.layout {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.suggestion-section {
  order: 1;
}

.actors-section {
  order: 2;
}

.films-section {
  order: 3;
}
